.ad{
    width: 285px;
    height: 450px;
    background-color: #eee;
    padding: 5px;
    margin-top: 35px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 2px 2px 9px rgb(0 0 0 / 8%);
    cursor: pointer;
}
.ad:hover{
    transform: scale(1.03);
    transition: 0.5s;
    border: 1.5px solid #dcdcdc;
    border-radius: 7px;
    box-shadow: 2px 2px 9px rgba(24, 0, 0, 0.945);
}

.img-container{
    height: 340px;
}
.img-container img{
    width: 100%;
    max-height: 350px;
}

.time{
    right: 10px;
    bottom: 10px;
    position: absolute;
    
}
.time, .location{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.location{
    left: 10px;
    bottom: 10px;
    position: absolute;
}


.like-Btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
}

.like-BtnColor {
    background-color: red;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
}

.descriptionDiv {
    margin-top: 20px;
}

.brandText {
    font-size: 12px;
    text-align: center;
    color: #999;
    letter-spacing: .5px;
    font-weight: 550;
}

.title {
    text-transform: capitalize !important;
    font-size: 16px;
    text-align: center;
    color: #666;
    font-weight: 700;
    letter-spacing: .5px;
}

.price {
    font-size: 15px;
    color: #d01345e7;
    letter-spacing: .5px;
    text-align: center;
}