.container {
    height: 70px;
    background: rgb(24, 6, 6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

h2 {
    text-decoration: none;
    color: white;
    font-size: 35px;
}
.fas {
    color: white;
    font-size: 25px;
}

.cartCount {
    background-color: yellow;
    color: black;
    border-radius: 50%;
    font-style: normal;
    vertical-align: 10px;
    margin-left: 2px;
    padding: 5px 9px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Nunito",sans-serif;
}

.linkHome {
    text-decoration: none;
}